.editor-offices-dialog {
  padding: 0;
  z-index: 999 !important;

  &.ui-dialog {
    min-width: 500px;
  }

  .properties-details {
    .form-type-checkbox {
      display: block;
      float: left;
      width: 50%;
    }
  }

  .horizontal-tabs {
    padding-bottom: 15px;
  }

  .select2-container--ttor {
    z-index: 10001;
  }

  .select2-container--ttor .select2-selection__clear {
    background-color: transparent;
    color: #6c757d;
    margin-top: 0.75em;
  }

  .select2-container--ttor .select2-selection__clear:hover {
    background-color: transparent;
    color: black;
  }
}
