  .navbar .navbar-toggler {
    display: none;
  }

  .ttor-breakpoint-lg,
  .ttor-breakpoint-mobile {
    .navbar .navbar-toggler {
      display: block
    }
  }

  .navbar {
    box-shadow: none;

    .navbar-toggler {
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
      position: absolute;
      width: 30px;
      height: 2px;
      border-radius: 4px;
      background-color: $white;
    }

    .navbar-toggler-icon {
      top: calc(50% - 2px);
      left: calc(50% - 15px);
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
      content: "";
      left: 0;
    }

    .navbar-toggler-icon::before {
      bottom: 8px;
    }

    .navbar-toggler-icon::after {
      top: 8px;
    }

    .navbar-toggler:hover .navbar-toggler-icon {
      height: 5px;
      width: 54px;
      left: 5px;
      top: calc(50% - 2px);
      transform: rotate(-45deg);
      background-color: $white;
    }

    .navbar-toggler:hover .navbar-toggler-icon::after {
      width: 54px;
      height: 5px;
      top: -1px;
      transform: rotate(-270deg);
      background-color: $white;
    }

    .navbar-toggler:hover .navbar-toggler-icon::before {
      transform: scale(0);
    }

    .navbar-toggler-icon,
    .navbar-toggler-icon::after {
      transition: all 0.3s linear;
    }

  }

  .bg-color-white {

    .navbar-toggler-icon,
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
      background-color: $primary-color;
    }

    .navbar-toggler:hover .navbar-toggler-icon,
    .navbar-toggler:hover .navbar-toggler-icon::after {
      background-color: $primary-color;
    }
  }

  #block-texashhslogo {
    img {
      height: auto;
      max-width: 260px;
    }

    .ttor-breakpoint-mobile & img {
      max-width: 220px;
    }
  }

  #block-texastargetedlogo,
  #block-texastargetedlogospanish {

    p {
      margin-bottom: 0;
    }

    img {
      height: 61.25px;
      width: auto;
    }

    .ttor-breakpoint-xl & {
      top: 10px;

      img {
        height: 45px;
      }
    }
  }

  #block-mainnavigation,
  #block-spanishmainnavigation-menu {
    margin-top: 25px;

    .nav-item {
      font-weight: $font-weight-bold;
      padding-left: 10px;
    }

    .ttor-breakpoint-xl & .nav-item {
      padding-left: 5px;
    }
  }

  a.blue-bg,
  a.white-bg {
    display: none;
  }

  #header-wrap {
    background-color: $white;
    box-shadow: $shadow;
    min-height: 105px;
    opacity: .9;
    position: sticky;
    top: 0;
    z-index: 9;
  }

  .nav-item {
    a {
      color: $white;
      position: relative;
      font-weight: 600;

      &:hover {
        color: $white;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          border-bottom: solid 3px $white;
          animation: in .2s linear forwards;
        }

        @keyframes in {
          0% {
            width: 0%;
          }

          100% {
            width: 100%;
          }
        }
      }
    }
  }

  .bg-color-blue {
    a.white-bg {
      display: block;
    }

    .nav-item.dropdown .dropdown-menu {
      background-color: $primary-color;
      border-top: 3px solid rgba($white, 0.5);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

      .dropdown-item {
        color: $white;

        &:hover,
        &:focus {
          color: $white;
          background-color: rgba($white, 0.1);
        }

        &.active {
          color: $white;
        }
      }
    }

    #header-wrap {
      background: $primary-color;
      opacity: .9;
      position: sticky;
      top: 0;
      z-index: 9;
    }
  }

  .bg-color-white {
    a.blue-bg {
      display: block;
    }

    .nav-item {
      a {
        color: $primary-color;

        &:hover {
          color: $secondary-color;

          &:before {
            content: '';
            border-bottom: solid 3px $secondary-color;
          }
        }
      }
    }
  }

  .language-switcher {
    position: absolute;
    top: 45px;

    .content {
      text-align: right;

      a {
        color: $dark-text;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .ttor-breakpoint-mobile & {
      top: 35px;
    }
  }

  // Dropdown aligns to full nav width.
  .navbar-nav {
    position: relative;
  }

  .nav-item.dropdown {
    position: relative;

    .dropdown-toggle:hover::before {
      display: none !important;
    }

    // Bridges hover gap between toggle and dropdown.
    .dropdown-toggle {
      padding-bottom: 2rem !important;
      margin-bottom: -1.5rem;

      &::after {
        display: inline-block;
        margin-left: 0.4em;
        vertical-align: middle;
        content: "";
        border-top: 0.35em solid;
        border-right: 0.35em solid transparent;
        border-bottom: 0;
        border-left: 0.35em solid transparent;
        transition: transform 0.2s ease;
      }
    }

    &:hover .dropdown-toggle::after,
    &:focus-within .dropdown-toggle::after {
      transform: rotate(180deg);
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      z-index: 1000;
      min-width: 250px;
      width: max-content;
      max-width: 400px;
      padding: 1rem 0;
      margin: 0;
      background-color: $white;
      border: none;
      border-top: 3px solid $secondary-color;
      border-radius: 0;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
      list-style: none;

      .dropdown-item-wrapper {
        list-style: none;
        padding: 0;
        border-right: none;

        &:last-child {
          border-right: none;
        }
      }

      .dropdown-item {
        display: block;
        padding: 0.75rem 1rem;
        color: $primary-color;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.3;
        text-decoration: none;
        white-space: normal;
        background-color: transparent;
        border: 0;
        transition: all 0.2s ease;

        &::before {
          display: none !important;
        }

        &:hover,
        &:focus {
          color: $secondary-color;
          background-color: rgba($primary-color, 0.05);
        }

        &.active {
          color: $primary-color;
          font-weight: 600;
        }
      }
    }

    &:hover .dropdown-menu,
    &:focus-within .dropdown-menu {
      display: block;
    }
  }

.ttor-breakpoint-mobile,
.ttor-breakpoint-lg {
  #header-wrap {
    min-height: auto;
  }

  .navbar-toggler {
    position: relative;
    z-index: 1001;
  }

  .nav-item.dropdown {
    position: relative;

    .dropdown-toggle {
      padding-bottom: 0.5rem !important;
      margin-bottom: 0;
    }

    .dropdown-toggle:hover::before {
      display: block !important;
    }

    .dropdown-toggle::after {
      display: none;
    }

    // Children always visible on mobile, no hover required.
    .dropdown-menu {
      position: static !important;
      top: auto !important;
      left: auto !important;
      right: auto !important;
      width: 100% !important;
      display: block !important;
      box-shadow: none;
      border: none;
      border-radius: 0;
      margin: 0.5rem 0;
      padding: 0;
      background: transparent;

      .dropdown-item-wrapper {
        border-right: none;
        border-left: none;
        margin-left: 1rem;
        padding-left: 0;
      }

      .dropdown-item {
        color: $white;
        padding: 0.75rem 1rem;
        line-height: 1.3;
        position: relative;

        &::before {
          content: '' !important;
          display: block !important;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 3px;
          background-color: rgba($white, 0.4);
          border-bottom: none !important;
          animation: none !important;
        }

        &:hover {
          background-color: rgba($white, 0.1);
          color: $white;

          &::before {
            width: 3px;
            border-bottom: none !important;
            animation: none !important;
          }
        }
      }
    }
  }

  .bg-color-white {
    .nav-item.dropdown .dropdown-menu {
      .dropdown-item {
        color: $primary-color;

        &::before {
          background-color: rgba($primary-color, 0.5);
        }

        &:hover {
          background-color: rgba($primary-color, 0.05);
          color: $secondary-color;
        }
      }
    }
  }
}
