  #main-wrapper {
    padding: $big-region-padding;
  }

  #block-texashhslogo {
    a {
      position: relative;
      z-index: 9;
    }
  }

  .bg-color-blue {
    #main-wrapper {
      background-color: $primary-color;
      color: $white;
    }
  }

  .icon {
    padding-left: 45px;

    &.tolerance-icon {
      background: url('/sites/default/files/icons/icon-tolerance.png') no-repeat left center;
      background-size: 35px;
    }

    &.withdrawal-icon {
      background: url('/sites/default/files/icons/icon-withdrawal.png') no-repeat left center;
      background-size: 35px;
    }

    &.addiction-icon {
      background: url('/sites/default/files/icons/icon-addiction.png') no-repeat left center;
      background-size: 35px;
    }

    &.overdose-icon {
      background: url('/sites/default/files/icons/icon-overdose.png') no-repeat left center;
      background-size: 35px;
    }

    &.fent-icon {
      background: url('/sites/default/files/icons/icon-talk.png') no-repeat left center;
      background-size: 35px;
    }

    &.prescription-icon {
      background: url('/sites/default/files/icons/icon-prescribe.png') no-repeat left center;
      background-size: 35px;
    }

    &.to-help-icon {
      background: url('/sites/default/files/icons/to-help.png') no-repeat left 5px;
      background-size: 35px;
      font-weight: bold;
      margin-top: 90px;
    }

    &.naloxone-icon {
      background: url('/sites/default/files/icons/icon-carry.png') no-repeat left center;
      background-size: 35px;
    }
  }

  .scroll-page-button {
    display: none;

    &.show-button {
      display: block;
    }

    cursor: pointer;
    opacity: .7;
    position: fixed;
    right: 0;
    z-index: 999;

    &:hover {
      opacity: 1;
    }

    &#scroll-down-js {
      top: 30%;
    }

    &#scroll-up-js {
      top: 70%;
    }
  }
