.ttor-breakpoint-mobile {

  .paragraph-vid-right,
  .paragraph-vid-left,
  .paragraph-img-right,
  .paragraph-img-left {
    display: block;
    text-align: inherit;

    .grid-wrap-left {
      width: auto;
    }

    .grid-wrap-right {
      width: auto;
    }

  }

  .paragraph--type--large-video-in-content-area-of-p {
    h2 {
      margin-top: 1.5rem;
    }
  }

  .paragraph--type--checklist {
    .grid-wrap-right {
      margin-top: 2rem;
    }
  }

  .paragraph--type--two-panel-info {
    .paragraph-grid-wrap {
      display: block !important;

      .grid-wrap-left {
        padding-right: inherit;
        border-right: none;
      }

      .grid-wrap-right {
        padding-left: inherit;
      }
    }
  }

  .paragraph--type--this-that-slideshow {
    .paragraph-grid-wrap {
      display: block !important;

      .grid-wrap-left {
        padding-right: inherit;
      }

      .grid-wrap-right {
        padding-left: inherit;
      }
    }
  }
}

.paragraph--type--this-that-slideshow {
  .paragraph-grid-wrap {
    @include grid-scheme-2-wide-left;

    .grid-wrap-left {
      border-right: none;
      padding-right: 4rem;
    }

    .grid-wrap-right {
      padding-left: 4rem;
    }
  }
}

.paragraph-vid-right,
.paragraph-vid-left,
.paragraph-img-right,
.paragraph-img-left {
  display: flex;
  column-gap: 3rem;

  .grid-wrap-left,
  .grid-wrap-right {
    position: relative;
    &.skinny {
      padding-right: 5%;
    }

    width: 50%;
  }


  .grid-wrap-right {
    img {
      display: inline;
      max-width: 100%;
    }
  }
}

.paragraph:not(.paragraph--type--large-video-in-content-area-of-p) {
  .media-oembed-content {
    max-height: 400px;
  }
}

.paragraph--type--banner-with-3-videos {
  iframe.media-oembed-content {
    max-height: 100% !important;
  }
}

.view-field-blocks-from-node-content-sub-feature .paragraph--type--dark-blue-banner-text,
.paragraph--type--banner {
  padding: $banner-padding;
  text-align: center;

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: #e4dfdf;
    }

    &::after {
      content: "";
      background: url(/sites/default/files/icons/box-arrow-up-right.svg) no-repeat 0 14px;
      position: relative;
      padding: 2px 10px;
      margin-left: 5px;
    }

  }
}

.field--name-field-button {
  margin: 3rem 0;

  a {
    @include button;
    font-weight: bold;
    font-size: 16px !important;
  }

}

.field--name-field-header {
  .field--name-field-button {
    margin: 0;
  }
}

.paragraph--type--call-to-action {
  padding: $big-region-padding;

  &.paragraph-tag-h2 {
    padding-top: 3rem;

    h2 {
      padding-top: 4rem;
    }
  }

  .caption {
    color: $sm-grey;
    display: block;
    margin-left: 0;
    text-align: right;
  }
}

.feature-title-span {
  @include feature-title;

  &.img-placement-bottom {
    text-align: center;
  }
}

.page-node-1,
.page-node-9 {
  .region-content-five .views-row:nth-child(1) {
    border-top: thin solid $light-grey;
  }
}

.region-content-two,
.region-content-three,
.region-content-four,
.region-content-five {

  .views-row:nth-child(2),
  .views-row:nth-child(3) {
    border-top: thin solid $light-grey;
  }
}

.paragraph--type--large-video-in-content-area-of-p {
  margin: auto;
  margin-bottom: 1.25rem;
  max-width: 960px;
  padding-bottom: 3rem;

  .field--name-field-video {
    margin: auto;
    margin-bottom: 2rem;
  }
}

.paragraph--type--grey-boxes {
  padding: 40px;

  h2 {
    font-size: 1.25rem;
    line-height: inherit;
  }
}

.grid-wrap-bottom {
  @include grid-scheme-2;
}


.feature-no-vid-text {
  h1 {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  @include max-width-960;
}

.paragraph-img-bottom {
  .feature-no-vid-text {
    @include max-width-960-center;
  }
}

.paragraph-img-left,
.paragraph-img-right {
  h1 {
    margin-bottom: 1rem;
  }
}

.paragraph-img-right {
  .grid-wrap-right {
    text-align: right;

    &.center-image {
      margin: auto;
      text-align: center;

      .caption {
        display: block;
      }
    }
  }
}

.bordered-check {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  margin-top: 40px;
  padding-bottom: 25px;
  padding-top: 25px;

  &::before {
    content: "";
    background-color: $white;
    border-radius: 5px;
    display: block;
    float: left;
    height: 20px;
    margin-bottom: 100px;
    margin-right: 15px;
    margin-top: 5px;
    width: 20px;
  }
}

.paragraph--type--checklist {
  padding: $big-region-padding;

  ul li:last-child {
    border-bottom: none;
  }

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  strong {
    clear: both;
    display: block;
  }

  li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: thin solid #444;
  }

  a {
    @include blue-hyperlink-no-hover;
  }
}

.title {
  &.not-empty-byline {
    @include max-width-960-center;
    margin-bottom: 0;
  }
}

.byline {
  &.not-empty-byline {
    @include max-width-960-center;
    display: block;
    margin-bottom: 3rem;
  }
}

.paragraph--type--video- {
  padding: $big-region-padding;
}

.paragraph--type--grey-lists-pair {
  @include max-width-960;
  margin-top: 5rem;
  margin-bottom: 5rem;

  .panel {
    padding: 25px 40px 25px 25px;
  }

  h3 {
    color: $primary-color;
    border-bottom: 10px solid $primary-color;
    margin-left: 15px;

  }

  .field--name-field-text {
    .field__item {
      background: $default-color;
    }
  }

  ol,
  li {
    border-bottom: thin solid $grey;
    list-style: none;
    margin: 15px auto;
  }

  ul li::before {
    content: "\2022";
    color: $primary-color;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  ol {
    border: none;
    counter-reset: item;
    margin-left: 15px;
    padding: 0;
    position: relative;
  }

  ol li {
    padding-left: 25px;
  }

  ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: $primary-color;
    left: 0;
    margin-right: 5px;
    position: absolute;
  }
}

.paragraph--type--info {
  padding: $big-region-padding;
  text-align: center;

  .paragraph-grid-wrap {
    @include max-width-960;
    color: $med-text;

    a {
      background: url(/sites/default/files/icons/box-arrow-up-right-grey.svg) no-repeat right top;
      color: #4e5862;
      padding-right: 20px;
      text-decoration: underline;

      &:hover {
        background-image: url(/sites/default/files/icons/box-arrow-up-right-primary.svg);
        color: $primary-color;
        text-decoration: underline;
      }
    }

    .grid-wrap {
      background: $default-color;
      margin-bottom: 3rem;
      padding: 4rem 4rem 3rem 4rem;
    }
  }
}

.paragraph--type--two-panel-info {
  padding: $big-region-padding;

  &.no-right-border {
    .grid-wrap-left {
      border-right: none !important;
    }
  }

  h2 {
    margin-bottom: 3rem;
    text-align: center;
  }

  .paragraph-grid-wrap {

    .grid-wrap-left {

      p:not(:last-child) {
        border-bottom: thin solid $grey;
        padding-bottom: 30px;
        margin-bottom: 30px;
      }
    }

  }
}

.view-field-blocks-from-node-content-2 {
  .paragraph--type--two-panel-info {
    h2 {
      text-align: center;
    }
  }
}

.bg-color-blue {
  .paragraph--type--two-panel-info {
    .paragraph-grid-wrap {
      .grid-wrap-left {

        p:not(:last-child) {
          border-bottom: thin solid $white;
        }
      }
    }
  }
}

#page-wrapper.bg-color-blue {
  #main {
    .feature-title-span {
      color: $white;
    }
  }
}

.cta-center {
  @include max-width-960-center;
  padding-top: 3rem;
}

.ttor-breakpoint-xxl {
  .fifty-percent-wrapper {
    @include grid-scheme-2;
  }

  .paragraph--type--grey-boxes {
    padding-bottom: 0;

    p {
      height: 150px;
    }
  }
}

.ttor-breakpoint-xl {
  .fifty-percent-wrapper {
    @include grid-scheme-2;
  }

  .paragraph--type--grey-boxes {
    padding-bottom: 0;

    p {
      height: 200px;
    }
  }
}

.ttor-breakpoint-lg {
  .fifty-percent-wrapper {
    @include grid-scheme-2;
  }

  .paragraph--type--grey-boxes {
    padding-bottom: 0;

    p {
      height: 250px;
    }
  }
}

.paragraph--type--two-panel-info {
  .paragraph-grid-wrap {
    @include grid-scheme-2;

    .grid-wrap-left {
      padding-right: 4rem;
      border-right: thin solid $grey;
    }

    .grid-wrap-right {
      padding-left: 4rem;
    }
  }
}

.ttor-breakpoint-lg,
.ttor-breakpoint-xl,
.ttor-breakpoint-xxl {
  .fifty-percent-wrapper {
    @include grid-scheme-2;
  }

  .paragraph--type--checklist,
  .paragraph--type--feature-without-video {
    .caption {
      display: block;
    }

    .grid-wrap-bottom {
      @include grid-scheme-4;
    }

    .paragraph-grid-wrap {
      @include grid-scheme-2-wide-right;
    }
  }

  .paragraph--type--grey-lists-pair {
    .field--name-field-text {
      @include grid-scheme-2;
    }
  }


  .bg-color-blue {
    .paragraph--type--two-panel-info {
      .paragraph-grid-wrap {
        .grid-wrap-left {
          border-right: thin solid $white;
        }
      }
    }
  }
}
