.paragraph--type--toolkit-cards-set {
  padding-bottom: 5em;

  h2 {
    @include max-width-960-center;
    padding: 1.5em;
  }

  .field--name-field-toolkit-cards-set {

    .field__item {
      background: $white;

      &:hover {
        background: $primary-color;
      }

      .field--name-field-media-image {
        background: transparent;

        .field__item {
          background: transparent;
        }
      }

      .paragraph--type--toolkit-cards {
        color: $sm-grey;
        padding: 3rem;

        &:hover {
          background: $primary-color;
          color: $white;
        }

        &:hover .paragraph-grid-wrap .grid-wrap-right .field--name-field-button a {
          color: $white;
        }

        &:hover .paragraph-grid-wrap .grid-wrap-right .field--name-field-button {
          background: url(/sites/default/files/icons/icon-download-white.svg) no-repeat right top;
          background-size: contain;
          color: $white;
          display: inline;
        }

        .paragraph-grid-wrap {
          img {
            box-shadow: 12px 14px 12px -12px rgba(128, 117, 117, 0.75);
            height: 295px;
            width: 225px;
          }

          @include grid-scheme-2;

          .field--name-field-button {
            @include download-hyperlink;

            a {
              background-color: transparent;
              color: $primary-color;
              padding-left: 0;

              &:hover {
                color: $white;
                text-decoration: underline;
              }
            }
          }

        }

      }
    }
  }
}

.paragraph--type--toolkit-cards-set .field--name-field-toolkit-cards-set .field__item:nth-child(5) .paragraph--type--toolkit-cards .paragraph-grid-wrap img,
.paragraph--type--toolkit-cards-set .field--name-field-toolkit-cards-set .field__item:nth-child(6) .paragraph--type--toolkit-cards .paragraph-grid-wrap img {
  box-shadow: none;
}

.ttor-breakpoint-lg,
.ttor-breakpoint-xl,
.ttor-breakpoint-xxl {
  .paragraph--type--toolkit-cards-set {
    .field--name-field-toolkit-cards-set {
      @include grid-scheme-2;
    }
  }
}

.page-node-2,
.page-node-10 {
  .page-content-six {
    .paragraph--type--info .paragraph-grid-wrap {
      margin: 4rem auto;
    }
  }

  .page-content-five {
    .paragraph--type--info {
      .paragraph-grid-wrap {
        .grid-wrap {
          background: $primary-color;
          color: $white;
        }

        text-align: center;
        max-width: 100%;

        .grey-bg-wrapper-top {
          margin: auto;
          max-width: 960px;
        }

        color: $med-text;

        a {
          background: url(/sites/default/files/icons/box-arrow-up-right-grey.svg) no-repeat right top;
          color: #4e5862;
          padding-right: 20px;
          text-decoration: underline;

          &:hover {
            background-image: url(/sites/default/files/icons/box-arrow-up-right-primary.svg);
            color: $primary-color;
            text-decoration: underline;
          }
        }


        .grey-bg-wrapper {
          background: $default-color;
          padding: 2rem 4rem;
          text-align: left;

          h3 {
            border-bottom: 10px solid $primary-color;
            color: $primary-color;
            font-size: 1.5rem;
          }

          .grey-bg-column-wrap {
            .grey-bg-column {
              ul {
                padding-left: 1rem;
              }
            }

            color: #4e5862;
            display: grid;
            font-size: 90%;
            grid-template-columns: 1fr 1fr;
            grid-gap: 4rem;
            line-height: 1.5rem;

            ol,
            li {
              border-bottom: thin solid $grey;
              list-style: none;
              margin: 10px auto;
              padding: 10px 0;
            }

            ul li::before {
              content: "\2022";
              color: $primary-color;
              font-weight: bold;
              display: inline-block;
              width: 1em;
              margin-left: -1em;
            }
          }
        }

      }
    }
  }

  &.ttor-breakpoint-mobile {
    .page-content-five .paragraph--type--info .paragraph-grid-wrap .grey-bg-wrapper .grey-bg-column-wrap {
      display: block;
    }
  }
}

.naloxone-header {
  p {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  h2 {
    margin-bottom: 1rem;
    text-align: left !important;
  }

  .naloxone-pic {
    margin-bottom: 3rem;
  }
}

.page-node-3 {
  .page-content-three {
    .paragraph--type--two-panel-info .paragraph-grid-wrap {
      grid-gap: 0;
    }
  }
}

.page-node-4,
.page-node-13 {
  .page-content-three {
    .content {
      .views-row:first-child {
        .paragraph--type--two-panel-info {
          .paragraph-grid-wrap {
            display: block;

            .grid-wrap-left {
              padding-right: 0;

              .top-wrap {
                display: grid;
                grid-template-columns: 1.25fr 1.5fr;
                grid-gap: 3rem;

                .right-items {
                  h2 {
                    margin-bottom: 0;
                    text-align: left;
                  }
                }
              }

              .panel {
                margin-top: 5rem;

                h2 {
                  margin-bottom: 0;
                }

                .grid-wrap {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-gap: 3rem;

                  .grid-wrap-right {
                    padding-left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.ttor-breakpoint-mobile {

    .content .views-row:first-child .paragraph--type--two-panel-info .paragraph-grid-wrap .grid-wrap-left .top-wrap,
    .content .views-row:first-child .paragraph--type--two-panel-info .paragraph-grid-wrap .grid-wrap-left .panel .grid-wrap {
      display: block;
    }
  }
}
