* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: 16px/1.3 sans-serif;
}

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: auto;
  /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
  height: 100%;
  white-space: nowrap;
  max-width: 960px;
  font-size: 0;
  //transition: 0.8s;
  position: relative;
}

/* SLIDES */

.CSSgal .slider>* {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
  position: absolute;
  bottom: 8%;
  width: 100%;
  height: 0;
  z-index: 9;
}

.CSSgal .prevNext>div+div {
  visibility: hidden;
  /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  background: #fff;
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  opacity: 0.7;
  //transition: 0.3s;
  transform: translateY(-50%);
}

.CSSgal .prevNext a:hover,
.bullets a:hover {
  opacity: .5;
}

.CSSgal .prevNext a+a {
  left: auto;
  right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.CSSgal .bullets>a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
 // -webkit-transition: 0.3s;
  //transition: 0.3s;
}

.CSSgal .bullets>a {
  background: $default-color;
  color: $primary-color;
  /* Dim all but first */
}

.CSSgal .bullets>a:hover {
  background: $default-color;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal>s:target~.bullets>* {
  background: $default-color;
  color: $primary-color;
}

/* ACTIVE BULLET - generated for up to 15 slides */
$max-slides: 15;

@for $i from 1 through $max-slides {
  #s#{$i}:target~.bullets>*:nth-child(#{$i}) {
    background: $primary-color;
    color: $white;
  }
}

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal>s:target~.prevNext>* {
  visibility: hidden;
}

/* ACTIVE: */
@for $i from 1 through $max-slides {
  #s#{$i}:target~.prevNext>*:nth-child(#{$i}) {
    visibility: visible;
  }
}

/* SLIDER ANIMATION POSITIONS */
@for $i from 1 through $max-slides {
  $offset: ($i - 1) * -100%;

  #s#{$i}:target~.slider {
    transform: translateX($offset);
    -webkit-transform: translateX($offset);
  }
}

.CSSgal {
  color: #fff;
  text-align: center;
  width: 350px;
}

s {
  scroll-margin-top: 150px;
}

.CSSgal .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}

.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.chat-wrap {

  .chat-bubble {
    background-size: contain !important;
    font-size: 80%;
    height: 150px;
    line-height: 1rem;
    position: relative;
    width: 200px;

    p {
      padding: 10px;
      margin: auto;

      &.large {
        font-weight: 600;
        padding-bottom: 0;
        padding-top: 1rem;
        margin-bottom: 0.2rem;
      }
    }

    &.say-this {
      background: url('/sites/default/files/icons/say-this-bg-2022.png') no-repeat 0 0;
      color: $white;
      z-index: 1;
    }

    &.not-that {
      background: url('/sites/default/files/icons/not-that-bg.png') no-repeat 0 0;
      color: $secondary-color;
      top: -55px;
      right: -40%;
    }
  }
}
