body:not(.page-node-2, .page-node-3, .path-frontpage, .page-node-9, .page-node-10,
  .page-node-12) {
  .view-field-blocks-from-node-content-5 {
    .view-content {
      .views-row {
        @include grey-box-button;
        @include grid-scheme-3;
        margin-bottom: 2rem;
      }
    }
  }
}

.ttor-breakpoint-mobile {
  .view-field-blocks-from-node-content-5 {
    .view-content {
      display: block;
    }
  }
}

.path-frontpage,
.page-node-9 {
  .view-field-blocks-from-node-content-5 {
    .view-content.row {
      @include grid-scheme-3;
      margin-bottom: 5rem;

      .views-row {
        @include grey-box-button;
        padding-bottom: 75px;
        position: relative;

        .field--name-field-button a {
          bottom: 15px;
          position: absolute;
        }
      }
    }

  }

  &.ttor-breakpoint-mobile {
    .view-field-blocks-from-node-content-5 {
      .view-content.row {
        display: block;

        .views-row {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.view-resources-list,
.view-resources-list-spanish {
  .view-content.row {
    .views-row {
      border-top: none;
    }
  }
}

.myButton {
  margin: 20px auto;
  max-height: 270px;
  max-width: 100px;
  overflow: hidden;
  position: relative;

  img {
    margin: 20px auto;
    max-height: 270px;
    max-width: 100%;
    object-fit: none;
    position: relative;

  }

}

.field--name-thumbnail a.myButton {
  &:after {
    content: url(/sites/default/files/icons/yt.png);
    position: absolute;
    left: 33%;
    top: 40%;
  }
}
