{#
/**
 * @file
 * Help template for the oembed lazyload module.
 *
 * @see template_preprocess_oembed_lazyload_help()
 *
 * @ingroup themeable
 */
#}

<h3>{{ 'About'|t }}</h3>
<p>{{ 'Adds the capability of lazy loading of oembed resources.'|t }}</p>
