<div class="button-group">
  {{ include('same_page_preview:spp-button', {iconType: 'settings', label: 'Settings'}) }}
  {{ include('same_page_preview:spp-button--link', {iconType: 'new-window', label: 'New Window'}) }}
  {{ include('same_page_preview:spp-button', {iconType: 'full-screen', label: 'Full Screen'}) }}
</div>
