.oembed-lazyload-youtube-settings .oembed-lazyload-youtube-settings__title {
  font-weight: bold;
}

.oembed-lazyload-youtube-settings .oembed-lazyload-youtube-settings__settings {
  margin-left: 5px;
}

.oembed-lazyload-youtube-settings .oembed-lazyload-youtube-settings__setting {
  font-style: italic;
}
