{% set view = 'resources_list' %}
    {% set view_tta = 'texas_takes_action_list' %}
    {% if paragraph.field_spanish_slideshow.value == "1" %}
      {% set view = 'resources_list_spanish' %}
      {% set view_tta = 'texas_takes_action_list_spanish' %}
    {% endif %}

    {%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph-language-' ~ view,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
    {% set byline = 'empty-byline' %}
    {% if paragraph.field_byline.value is not empty %}
      {% set byline = 'not-empty-byline' %}

    {% endif %}

    {% block paragraph %}
      <div{{attributes.addClass(classes)}}>
        {% block content %}
          {% if paragraph.field_grid_display.value == 'two' %}
            {% include "@ttor/includes/resources.html.twig" %}
          {% else %}
            {% include "@ttor/includes/tta.html.twig" %}

          {% endif %}
        {% endblock %}
      </div>
    {% endblock paragraph %}
