// Fonts
$font-family-base: $adelle !important;
$font-size-base: 1.1rem;
$font-size-button: 14px;
$font-size-lg: 1.25rem;
$font-size-md: 0.9rem;
$font-size-sm: 0.85rem;
$font-size-xs: 0.75rem;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.95rem;
