<div {{ attributes.addClass(['button']) }} data-drupal-selector="new-window">
  <a href="{{ href }}" target="_blank">
    <svg class="spp-button-icon {{ iconType }}"></svg>
    <span class="spp-button-text">{{ label }}</span>
  </a>
</div>
