<div
      id="special-video-padding"
      class="layout-main-wrapper ">
      <div
        class="container">
        <div
          class="row">
          <div
            class="col order-last">
            <section
              class="section">
              <div
                class="block block-system block-system-main-block">
                <div
                  class="content">
                  <div
                    class="field field--name-field-header field--type-entity-reference-revisions field--label-hidden field__item">
                    <div
                      class="paragraph paragraph--type--feature-with-video paragraph-vid-right paragraph--view-mode--default">
                      <div
                        class="grid-wrap-left skinny">
                        <h2
                          class="title">
                          Los texanos están unidos en la lucha contra la crisis de los opioides.
                        </h2>
                        <p>
                          Si usted o un ser querido está luchando contra una adicción a los opioides, hay tratamiento disponible y la recuperación es posible. Vea este video de dos minutos para saber cómo protegerse y proteger a sus seres queridos del consumo indebido de opioides, una sobredosis y la adicción.&nbsp;
                        </p>
                      </div>
                      <div
                        class="grid-wrap-right">
                        <div
                          class="videos-wrapper">
                          <div
                            class="field field--name-field-video field--type-entity-reference field--label-hidden field__items">
                            <div
                              class="field field--name-field-media-oembed-video field--type-string field--label-hidden field__item">
                              <div class="ratio ratio-16x9">
                                <iframe
                                  class="media-oembed-content"
                                  enablejsapi="true"
                                  frameborder="0"
                                  allowfullscreen=""
                                  allowtransparency=""
                                  title="You Have the Power to Prevent Opioid Misuse"
                                  src="https://www.youtube.com/embed/9BnDEXn2ghw"></iframe>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
