<div
      id="special-video-padding"
      class="layout-main-wrapper ">
      <div
        class="container">
        <div
          class="row">
          <div
            class="col order-last">
            <section
              class="section">
              <div
                class="block block-system block-system-main-block">
                <div
                  class="content">
                  <div
                    class="field field--name-field-header field--type-entity-reference-revisions field--label-hidden field__item">
                    <div
                      class="paragraph paragraph--type--feature-with-video paragraph-vid-right paragraph--view-mode--default">
                      <div
                        class="grid-wrap-left skinny">
                        <h2
                          class="title">Together, Texans are fighting the opioid crisis.</h2>
                        <p>If you or someone you love is struggling with opioids, treatment is available and recovery is possible. Watch this two-minute video to learn what you can do to protect yourself and your loved ones from opioid misuse, overdose and addiction.&nbsp;</p>
                      </div>
                      <div
                        class="grid-wrap-right">
                        <div
                          class="videos-wrapper">
                          <div
                            class="field field--name-field-video field--type-entity-reference field--label-hidden field__items">
                            <div
                              class="field field--name-field-media-oembed-video field--type-string field--label-hidden field__item">
                              <iframe
                                style="max-width:100%;"
                                class="media-oembed-content"
                                width="800"
                                height="500"
                                enablejsapi="true"
                                frameborder="0"
                                allowfullscreen=""
                                allowtransparency=""
                                title="You Have the Power to Prevent Opioid Misuse"
                                src="https://www.youtube.com/embed/w5o7_fmpU78?enablejsapi=1&amp;origin=https%3A%2F%2Fttor-drupal.ddev.site"
                                data-gtm-yt-inspected-102055807_13="true"
                                id="337286120"
                                data-gtm-yt-inspected-102055807_14="true"
                                data-gtm-yt-inspected-6="true"></iframe>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
