<div class="spp-settings-wrapper" data-drupal-selector="settings-button">
  <button {{ attributes.addClass(['button', 'spp-' ~ iconType ~ '-button']) }}>
    <svg class="spp-button-icon {{ iconType }}"></svg>
    <span class="spp-button-text">{{ label }}</span>
  </button>
</div>
