#drupal-off-canvas-wrapper .spp-button-wrapper {
  display: inline-flex;
}

/* Settings Button */
#drupal-off-canvas-wrapper .spp-menu {
  display: none;
  position: absolute;
  top: 100px;
  left: 20px;
  color: var(--button-fg-color);
  background-color: var(--button-bg-color);
  padding: 10px 2px;
}

#drupal-off-canvas-wrapper .spp-menu.spp-settings--open {
  display: block;
}

#drupal-off-canvas-wrapper ul.spp-menu li {
  list-style: none;
}

#drupal-off-canvas-wrapper ul.spp-menu li, #drupal-off-canvas-wrapper ul.spp-menu li label {
  padding: 0.5em;
}

#drupal-off-canvas-wrapper .spp-settings-dropdown__link {
  color: inherit;
  text-decoration: none;
}

#drupal-off-canvas-wrapper ul.spp-menu li:hover {
  color: var(--color-link);
  background-color: #f5f5f5;
}

#drupal-off-canvas-wrapper ul.spp-menu li:hover label {
  text-decoration: underline;
}

/* End of Settings Button */

.spp-button-icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  vertical-align: text-bottom;
}

.spp-button-icon.settings {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg width='17' height='17' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.426 8.249C14.471 7.922 14.502 7.591 14.502 7.251C14.502 6.891 14.467 6.541 14.416 6.195L12.141 5.902C12.026 5.476 11.858 5.075 11.643 4.701L13.039 2.893C12.623 2.342 12.133 1.854 11.58 1.441L9.773 2.832C9.4 2.617 8.999 2.449 8.573 2.333L8.281 0.081C7.943 0.033 7.604 0 7.252 0C6.9 0 6.558 0.033 6.22 0.082L5.929 2.333C5.503 2.449 5.103 2.617 4.729 2.832L2.924 1.441C2.372 1.854 1.88 2.342 1.465 2.893L2.86 4.701C2.645 5.075 2.477 5.475 2.361 5.901L0.085 6.195C0.035 6.541 0 6.891 0 7.251C0 7.591 0.031 7.922 0.077 8.249L2.362 8.544C2.477 8.97 2.646 9.37 2.861 9.744L1.444 11.58C1.855 12.13 2.34 12.618 2.887 13.032L4.729 11.612C5.103 11.827 5.503 11.995 5.929 12.11L6.227 14.421C6.564 14.468 6.904 14.501 7.252 14.501C7.6 14.501 7.94 14.468 8.273 14.421L8.572 12.11C8.998 11.995 9.398 11.827 9.773 11.612L11.615 13.032C12.162 12.618 12.646 12.13 13.058 11.58L11.642 9.743C11.857 9.37 12.025 8.97 12.14 8.544L14.426 8.249ZM7.252 9.763C5.846 9.763 4.709 8.626 4.709 7.222C4.709 5.82 5.846 4.681 7.252 4.681C8.654 4.681 9.793 5.819 9.793 7.222C9.793 8.626 8.654 9.763 7.252 9.763Z' fill='%2355565B'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg width='17' height='17' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.426 8.249C14.471 7.922 14.502 7.591 14.502 7.251C14.502 6.891 14.467 6.541 14.416 6.195L12.141 5.902C12.026 5.476 11.858 5.075 11.643 4.701L13.039 2.893C12.623 2.342 12.133 1.854 11.58 1.441L9.773 2.832C9.4 2.617 8.999 2.449 8.573 2.333L8.281 0.081C7.943 0.033 7.604 0 7.252 0C6.9 0 6.558 0.033 6.22 0.082L5.929 2.333C5.503 2.449 5.103 2.617 4.729 2.832L2.924 1.441C2.372 1.854 1.88 2.342 1.465 2.893L2.86 4.701C2.645 5.075 2.477 5.475 2.361 5.901L0.085 6.195C0.035 6.541 0 6.891 0 7.251C0 7.591 0.031 7.922 0.077 8.249L2.362 8.544C2.477 8.97 2.646 9.37 2.861 9.744L1.444 11.58C1.855 12.13 2.34 12.618 2.887 13.032L4.729 11.612C5.103 11.827 5.503 11.995 5.929 12.11L6.227 14.421C6.564 14.468 6.904 14.501 7.252 14.501C7.6 14.501 7.94 14.468 8.273 14.421L8.572 12.11C8.998 11.995 9.398 11.827 9.773 11.612L11.615 13.032C12.162 12.618 12.646 12.13 13.058 11.58L11.642 9.743C11.857 9.37 12.025 8.97 12.14 8.544L14.426 8.249ZM7.252 9.763C5.846 9.763 4.709 8.626 4.709 7.222C4.709 5.82 5.846 4.681 7.252 4.681C8.654 4.681 9.793 5.819 9.793 7.222C9.793 8.626 8.654 9.763 7.252 9.763Z' fill='%2355565B'/%3e%3c/svg%3e");
}

.new-window {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5,2 C5.55228,2 6,2.44772 6,3 C6,3.55228 5.55228,4 5,4 L4,4 L4,12 L12,12 L12,11 C12,10.4477 12.4477,10 13,10 C13.5523,10 14,10.4477 14,11 L14,12 C14,13.1046 13.1046,14 12,14 L4,14 C2.89543,14 2,13.1046 2,12 L2,4 C2,2.89543 2.89543,2 4,2 L5,2 Z M15,1 L15,5.99814453 C15,6.55043453 14.5523,6.99814453 14,6.99814453 C13.4477,6.99814453 13,6.55043453 13,5.99814453 L13,4.41419 L8.71571,8.69846 C8.32519,9.08899 7.69202,9.08899 7.3015,8.69846 C6.91097,8.30794 6.91097,7.67477 7.3015,7.28425 L11.5858,3 L9.99619141,3 C9.44391141,3 8.99619141,2.55228 8.99619141,2 C8.99619141,1.44772 9.44391141,1 9.99619141,1 L15,1 Z'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5,2 C5.55228,2 6,2.44772 6,3 C6,3.55228 5.55228,4 5,4 L4,4 L4,12 L12,12 L12,11 C12,10.4477 12.4477,10 13,10 C13.5523,10 14,10.4477 14,11 L14,12 C14,13.1046 13.1046,14 12,14 L4,14 C2.89543,14 2,13.1046 2,12 L2,4 C2,2.89543 2.89543,2 4,2 L5,2 Z M15,1 L15,5.99814453 C15,6.55043453 14.5523,6.99814453 14,6.99814453 C13.4477,6.99814453 13,6.55043453 13,5.99814453 L13,4.41419 L8.71571,8.69846 C8.32519,9.08899 7.69202,9.08899 7.3015,8.69846 C6.91097,8.30794 6.91097,7.67477 7.3015,7.28425 L11.5858,3 L9.99619141,3 C9.44391141,3 8.99619141,2.55228 8.99619141,2 C8.99619141,1.44772 9.44391141,1 9.99619141,1 L15,1 Z'/%3E%3C/svg%3E%0A");
}

.full-screen, .full-screen.off {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16 3h6v6h-2V5h-4V3zM2 3h6v2H4v4H2V3zm18 16v-4h2v6h-6v-2h4zM4 19h4v2H2v-6h2v4z'/%3E%3C/g%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M16 3h6v6h-2V5h-4V3zM2 3h6v2H4v4H2V3zm18 16v-4h2v6h-6v-2h4zM4 19h4v2H2v-6h2v4z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.full-screen.on {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18 7h4v2h-6V3h2v4zM8 9H2V7h4V3h2v6zm10 8v4h-2v-6h6v2h-4zM8 15v6H6v-4H2v-2h6z'/%3E%3C/g%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18 7h4v2h-6V3h2v4zM8 9H2V7h4V3h2v6zm10 8v4h-2v-6h6v2h-4zM8 15v6H6v-4H2v-2h6z'/%3E%3C/g%3E%3C/svg%3E%0A");
}
